language: node_js
node_js:
- '6'
before_script:
- npm install -g webpack
- npm install -g codecov
before_deploy:
- npm run deploy
deploy:
  provider: releases
  api_key:
    secure: 6879384a-0b0e-4f39-8d4c-4dcc0d4f61bc
  file_glob: true
  file: ./dist/JAlgoArena-UI-*.zip
  skip_cleanup: true
  on:
    repo: antonina18/JAlgoArena-UI
    tags: true
addons:
    code_climate:
        repo_token: 9e2995be6eae3d6663fd00f8db738c4bf306f9f7779c8f1c4fb0f5d0d56c17e0