body {
    padding-top: 70px;
}

body, p, button {
    font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Ubuntu", sans-serif;
    font-weight: normal;
}

.navbar-default {
    background-color: white;
}

.logo {
    display: inline-block;
    height: 35px;
    margin-top: -5px;
}

.footer-logo {
    height: 50px;
    margin-bottom: 15px;
}

div#editor {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 350px;
}

.output {
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0 10px 10px;
}

#submit-code {
    width: 200px;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -17px;
    font-size: 15px;
}

#searching_spinner_center {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
}

.modal-footer, .modal-header {
    text-align: center;
}

.modal-body {
    height: 200px;
}

.btn.active {
    background-color: #dff0d8;
}