body {
    padding-top: 70px;
}

body, p, button {
    font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Ubuntu", sans-serif;
    font-weight: normal;
}

.navbar-default {
    background-color: white;
}

.panel-heading span {
    margin-top: -17px;
    font-size: 15px;
}

.btn.active {
    background-color: #dff0d8;
}

hr.star-light:after {
    background-color: #18BC9C;
    color: white;
}

hr.star-light:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em;
}