body {
    padding-top: 70px;
}

body, p, button {
    font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Ubuntu", sans-serif;
    font-weight: normal;
}

.navbar-default {
    background-color: white;
}

.panel-heading span {
    margin-top: -17px;
    font-size: 15px;
}

.btn.active {
    background-color: #dff0d8;
}