body {
    padding-top: 70px;
}

body, p, button {
    font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Ubuntu", sans-serif;
    font-weight: normal;
}

.navbar-default {
    background-color: white;
}

.panel-heading span {
    margin-top: -17px;
    font-size: 15px;
}

hr.star-light:after {
    background-color: #18BC9C;
    color: white;
}

hr.star-light:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em;
}

.btn-outline {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
    margin-top: 25px;
    margin-bottom: 15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #18BC9C;
    background: white;
    border: solid 2px white;
}

.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

#menu > .active > a {
    color: #4078c0;
    background-color: whitesmoke;
}
#menu > li > a:hover {
    color: #4078c0
}
